html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}
html {
  background-color: black;
}

.navbar { 
position: fixed;
    left: 0px;
    top: 0px;
}

.toppic {
		height: 300px;
}

h1 {
	color: white;
	text-align: center;
}

h2 {
	color: white;
	text-align: center;
}

h3 {
	color: orange;
	text-align: center;
}

P {
	text-align: center;
}

.grid {
  margin-left: 0px
  margin-right: auto;
  padding: 1px;
  background-color: gray;
}


.tile {
	display: inline-block;
   height: 30%;
   width: 30%;
   margin-top: 10px
   padding: 2px
	
	
}

.tile img {
	width:100%
}
